@charset "UTF-8";

.mix-box{
  width: 100%;
  display: table;
  margin-top: 50px;
}

.main--area .mix-box:first-child{
  margin-top: 0 ;
}

.box{
  display: table-cell;
  text-align: center;
  padding: 20px;
}

.red-box{
  background: #ff7b7b;
  width: 300px;
}

.purple-box{
  background: #7b86ff;
}

.yellow-box{
  background: #fff27b;
  width: 300px;
}

.green-box{
  background: #7bff91;
}

.pink-box{
  background: #ff7be2;
  width: 400px;
}

.orenge-box{
  background: #ffc67b;
  width: 400px;
}

.blue-box{
  background: #7bf2ff;
}