@charset "UTF-8";

.cell--table{
width: 100%;
table-layout: fixed;
}

.cell--table th{
background: #319c4a;
line-height: 26px;
font-size: 18px;
}

.cell--table td{
text-align: center;
line-height: 22px;
font-size: 18px;
}

.cell--table th,.cell--table td{
  padding: 10px;
  border: 1px solid #000000;
}

.cell--table tr{
  background: #d5ffc7;
}

.cell--table tr:nth-child(even){
  background: #bcbcbc;
}

.cell--table tbody tr:last-child{
  border-top: 1px double #ffffff;
}